requests
beautifulsoup4
tenacity
tqdm
faiss-cpu
numpy
ollama
fastapi
uvicorn
streamlit
pandas
pydantic
# LLM/RAG Dependencies
google-genai
google-ai-generativelanguage
sentence-transformers
httpx
python-dotenv
